.page-incomeList{
.tr-head{
    font-weight: bold;
    color: #ae7649;
}
  .row{
    padding:5px 0;
      border-bottom: 1px solid rgba(174, 118, 73,0.3);
      .col{
        padding:5px 0;
      }
  }
  
}