.page-bankCard{
  .card{
      a.item{
        color: #FFF;
        background: rgba(23,155,22,.6);
        font-size: 15px;
        // padding: 22px;
      }
      a.card-item{
        padding: 22px;
        padding-left: 54px;
      }
  }
}