.page-income{
    .span-key{
        color: #ae7649;
        // font-weight: bold;
   }
   .span-val{
        color: #666;
   }
   .vo{
       margin:15px;
       font-size: 16px;
       text-align: center;
   }
}