.page-record {
    .btn-status {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 15px;
    }
    .btn-chat{
        position: absolute;
        right: 10px;
       top: 38px;
       font-size: 13px;
    }
    .item-input-wrapper{
        background: #FFF;
    }
    .key{
        width: 250px;
    }
 .item-avatar{
 padding:10px;
 padding-left: 72px;
      }
    .item h2{
    	color:#ae7649;
    }
    .item-avatar img {
        max-width: 40px;
        top: 18px;
    }
    .pre-tel{
        color: green;
        font-weight: bold;
    }
}